<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Chore Wars</title>
    <link rel="stylesheet" href="style.css" type="text/css">
</head>

<body>

    <div class="topnav">
        <a  href="tasks">Tasks</a>
        <a href="/leaderboard">Leaderboard</a>
        <a class="active" href="/createTasks">Create Tasks</a>
        <a href="/logout">Log Out</a>
      </div>
      <h1 style="background: linear-gradient(to bottom, rgb(40,93,179), rgb(0,176,240));position: fixed; 
      top: 0;
      width: 100%;">Create Task</h1>
      <div class="background" style="text-align: center;">
        <form id="myForm" action='/createTasks' method="post">
           
                
                <label>Task Description: <br><input type="text" name="taskDescription"/></label>
                <br>
                <label>Points awarded for completing task: <br> <input type="number" name="pointAmount"/></label>
                <br><br>
                <label>This task should be completed _ days after it was last completed <br><input type="number" name="daysAmount"/></label><br><br>
                <input type="reset" >
                <input type="submit" value="Create Task" onClick="confirm('Are you sure you want to submit your Task?\n you will not be able to remove task once submitted.')">
           
        </form>  
    
    
    </div>


</body>

</html>

