<!DOCTYPE html>
    <html lang="en">
    <head>
        <title>Chore Wars | Home</title>
        <link rel="stylesheet" href="style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body id="body-home" >
        <div id="content">
            <div id="div-left">
                <h1>Chore Wars</h1>
            </div>
            <div id="div-right">
                <div id="div-right-logo">
                    <img width="200" height="200" src="logo.png">
                </div>
                <div id="div-bottom-buttons">
                    <form action="/login" method="POST">
                        <div id="inputs">
                            <label>Username</label>
                            <input class="username" id="username" name="username" type="text"/>
                            <br/>
                            <label>Password</label>
                            <input class="password" id="password" name="password" type="password"/>
                            <br/>
                            <div id="butt">
                                <input type="submit" value="Login" class="login-signup"/><br><br>
                                <a class="login-signup <%- styleLoggedOut %>" role="button" href="/signup">Signup</a><br><br>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script src="script.js"></script>
    </body>
</html>