<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
	<title>Chore Wars</title>
    <link rel="stylesheet" href="style.css" type="text/css">
</head>

<body>


<div class="topnav">
    <a  href="tasks">Tasks</a>
    <a class="active" href="/leaderboard">Leaderboard</a>
    <a href="/createTasks">Create Tasks</a>
    <a href="/">Log Out</a>
  </div>
  <h1 style="background: linear-gradient(to bottom, rgb(40,93,179), rgb(0,176,240));position: fixed; 
  top: 0;
  width: 100%;">Leaderboard</h1>
  <div class="background" >
    



 
</body>

</html>
