<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
	<title>Chore Wars</title>
    <link rel="stylesheet" href="style.css" type="text/css">
</head>

<body>


<div class="topnav">
    <a  href="tasks">Tasks</a>
    <a class="active" href="/leaderboard">Leaderboard</a>
    <a href="/createTasks">Create Tasks</a>
    <a href="/">Log Out</a>
  </div>
  <h1 style="background: linear-gradient(to bottom, rgb(40,93,179), rgb(0,176,240));position: fixed; 
  top: 0;
  width: 100%;">Leaderboard</h1>
  <div class="background" >
    <p style="margin-top:10%;text-align: center;">
        <span class="left" >2nd</span> <span class="middle">1st</span> <span class="right">3rd</span> <br><br>
        <figure><span class="left" ><img id="num2" src="Profile_Picture.jpg" alt="profile pic" style="border-radius: 50%; width:10em;"><figcaption>Points:</figcaption></figure></span>
        <figure><span class="middle"><img src="Profile_Picture.jpg" alt="profile pic" style="border-radius: 50%; width:10em; "><figcaption>Points:</figcaption></figure></span>
        <figure><span class="right"><img src="Profile_Picture.jpg" alt="profile pic" style="border-radius: 50%; width:10em;"><figcaption>Points:</figcaption></figure></span>
    </p>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div style="text-align: center; margin-left: 40%; font-size="30em">
    <table class="styled-table" border="1em">
        <tr>
          <th>Company</th>
          <th>Contact</th>
          <th>Country</th>
        </tr>
        <tr>
          <td>Alfreds Futterkiste</td>
          <td>Maria Anders</td>
          <td>Germany</td>
        </tr>
        <tr>
          <td>Centro comercial Moctezuma</td>
          <td>Francisco Chang</td>
          <td>Mexico</td>
        </tr>
      </table>
    </div>

  </div>


 



 
</body>

</html>
