<!DOCTYPE html>
    <html lang="en">
    <head>
        <title>Chore Wars | Home</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body id="homePage" >
       
        <div id="menu">
            <h1>Chore Wars</h1>
            <a role="button" href="/tasks">View Tasks</a><br><br>
            <a role="button" href="/leaderboard">Leaderboard</a><br><br>
            <a role="button" href="/createTasks">Create Tasks</a><br>

        </div>

        <a href="/" id="homeButton" class="button-55" role="button">
            <iconify-icon icon="material-symbols:home-outline-rounded" style="color: red;" width="30" height="30"></iconify-icon>
        </a>
        
    </body>
</html>